<div style="height: 100vh;">
  <nz-layout style="height: 100%;">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div style="height: 70px">
        <img src="assets/images/Logo1.jpg" alt="" style="height: 60px; width: 100px">
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-submenu nzTitle="Blogs" nzIcon="team">
          <ul>
            <li nz-menu-item routerLink="/admin/blogs/add-edit">Create Blog</li>
            <li nz-menu-item routerLink="/admin/blogs" *ngIf="user.role === 'Admin'">Blog Moderation</li>
            <li nz-menu-item routerLink="/admin/blogs/moderated">View Blogs</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Users" nzIcon="user" *ngIf="user.role === 'Admin'">
          <ul>
            <li nz-menu-item routerLink="/admin/users/add-edit">Create User</li>
            <li nz-menu-item routerLink="/admin/users/moderate">User Moderation</li>
            <li nz-menu-item routerLink="/admin/users">View Users</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Contact Us" nzIcon="team" *ngIf="user.role === 'Admin'">
          <ul>
            <li nz-menu-item routerLink="/admin/contact-us">Responses</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="profile" nzIcon="user" >
          <ul>
            <li nz-menu-item routerLink="/admin/users/profile">Author Profile</li>

          </ul>
        </li>
      </ul>
      <div class="w-full mt-10 flex justify-center">
        <button nz-button class="primary" (click)="logout()">Logout</button>
      </div>

    </nz-sider>
    <nz-layout>
      <nz-header>
        <span
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></span>
      </nz-header>
      <nz-content>
        <nz-breadcrumb>
<!--          <nz-breadcrumb-item>User</nz-breadcrumb-item>-->
<!--          <nz-breadcrumb-item>Bill</nz-breadcrumb-item>-->
        </nz-breadcrumb>
        <div class="inner-content" style="height: auto">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>

  </nz-layout>
</div>
