.share-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.share-button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007bff; /* Facebook blue color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.share-button:hover {
  background-color: #0056b3; /* Darker Facebook blue color on hover */
}

.share-button i {
  margin-right: 5px;
}
