
<div class="bg-white text-black shadow-sm">
  <!-- Adjusted Blog Post Heading with increased top and bottom margin -->
  <div class="container mx-auto py-16 px-4 text-center"> <!-- Increased py value for more vertical padding around the container -->
    <h1 class="text-7xl font-bold my-6 text-black">{{blogData.title}}</h1> <!-- Reduced my value for less margin top and bottom -->
    <h3 class="text-3xl font-semibold mb-6 text-blue-900">"{{blogData.subTopic}}"</h3> <!-- Reduced mb value for less margin bottom -->
  </div>

  <!-- Adjusted Blog Post Image -->
  <div class="container mx-auto flex justify-center mb-8 rounded-lg"> <!-- Increased mb for more bottom margin -->
    <img src="assets/images/whats-university-like-accepted-students.jpg" alt="Studying Abroad" class="w-4/6 h-auto object-cover" style="border-radius: 15px"> <!-- Adjusted image width and added more margin -->
  </div>

  <div class="container mx-auto py-4 px-4 text-center text-gray-600 text-lg"> <!-- Added text-lg class for larger font size -->
    <p class="text-xl mb-2">Author: {{blogData.author}}</p> <!-- Changed text-lg to text-xl -->
    <p class="text-xl mb-2">Date: {{blogData.createdAt | date:'yyyy-MM-dd'}}</p> <!-- Changed text-lg to text-xl -->
    <p class="text-xl mb-2">Faculty: {{ blogData.type }}</p> <!-- Changed text-lg to text-xl -->
  </div>


  <!-- Adjusted Blog Post Description -->

  <div class="container mx-auto max-w-4xl py-12 px-4 text-center text-black "> <!-- Changed shadow-md to shadow-sm for a reduced shadow -->
    <!-- Content goes here -->
    <!-- Optionally increased py for more padding top and bottom -->
    <p class="text-2xl mb-8 text-justify"> <!-- Increased font size to text-2xl for bigger text -->
      {{blogData.content}}
    </p>
  </div>
  <div class="flex container mx-auto max-w-4xl py-12 px-4 text-center text-black justify-center gap-4">
    <button nz-button class="primary" (click)="navigateToView()">Back</button>
  </div>


</div>


