/* CSS for enhanced styling */

/* Navbar (Header) */
header {
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Welcome Section */
.welcome-section {
  background-color: rgba(0, 0, 0, 0.5);
}

.welcome-text {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

/* Blog Post */
.blog-post {
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.share-button {
  background-color: #0056b3;
}

.share-button:hover {
  background-color: #004080;
}

.blog-post-image {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.download-button {
  background-color: #0056b3;

}

.download-button:hover {
  background-color: #004080;
}
.share-button,
.download-button {
  border-radius: 20px;
  color: white;
}
.button-container {
  display: flex;
  justify-content: space-between; /* Align buttons side by side */
}


/* Footer */
footer {
  background-color: #333;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
