[nz-carousel-content] {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #f0f0f6;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #000;
  margin-bottom: 0;
  user-select: none;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Enable touch scrolling */
.testimonials-container {
  -webkit-overflow-scrolling: touch;
}
