<header class="bg-gray-900 py-8"> <!-- Increased py value to make the navbar taller -->
  <div class="container mx-auto flex items-center justify-between">
    <div class="flex items-center"> <!-- Added a container for the logo and site title -->
      <img src="assets/images/Logo1.jpg" alt="Logo" class="h-24 w-auto mr-2"> <!-- Increased the height to h-24 -->
      <h1 class="text-white text-2xl font-bold">APIIT BLOG </h1>
    </div>
    <nav>
      <ul class="flex space-x-4 text-white text-2xl"> <!-- Changed text-xl to text-2xl for even bigger font size -->
        <li><a href="#" class="hover:underline">Home</a></li>
        <li><a href="#" class="hover:underline">Contact Us</a></li>
        <li><a (click)="navigateToLogin()" class="hover:underline" >Login</a></li>


      </ul>
    </nav>
  </div>
</header>





<section class="bg-gray-900 text-white py-96 relative">
  <img src="assets/images/b.jpg" alt="Welcome Image" class="absolute inset-0 w-full h-full object-cover">
  <div class="absolute inset-0 bg-blue-300 opacity-40"></div>
  <div class="container mx-auto text-center relative">
    <div class="absolute inset-0 flex flex-col justify-center items-center">
      <h1 class="text-7xl font-bold mb-6">Student Blog</h1> <!-- Increased text size to text-7xl -->
      <p class="text-3xl">APIIT Insights: Where Knowledge Meets Inspiration, Community Connects,<br> Ideas Flourish, Innovation Takes Flight,<br> and Boundless Opportunities Await.</p> <!-- Increased text size to text-3xl -->
    </div>
  </div>
</section>



<section class="container mx-auto my-8 mt-40 m-20"> <!-- Adjusted margin-top to mt-40 -->
  <h2 class="text-4xl font-bold mb-32 text-center">Testimonials</h2>

  <div class="w-full flex testimonials-container overflow-x-auto scrollbar-hide mt-4">
    <!-- Testimonial Card 1 -->
    <div class="w-1/5 px-4 flex-shrink-0 rounded-lg">
      <div class="bg-white rounded-lg shadow-md p-16 relative"> <!-- Added relative positioning to the container -->
        <div class="absolute inset-0 flex items-center justify-center"> <!-- Centering the image vertically and horizontally -->
          <img src="assets/images/whats-university-like-accepted-students.jpg" alt="Welcome Image" class="w-24 h-24 object-cover rounded-full"> <!-- Adjusted width and height of the image -->
        </div>
        <div class="h-64 overflow-y-auto"> <!-- Adjusted top margin to accommodate the image -->
          <p class="text-gray-600 text-center mb-6 text-lg">"APIIT is a great place to nurture knowledge"</p>
        </div>
        <h3 class="text-lg font-semibold text-gray-600 mb-0 text-center">Rushda Niyas (Assistant Director Board of Investment)
        </h3>
      </div>
    </div>


    <div class="w-1/5 px-4 flex-shrink-0 rounded-lg">
      <div class="bg-white rounded-lg shadow-md p-16 relative"> <!-- Added relative positioning to the container -->
        <div class="absolute inset-0 flex items-center justify-center"> <!-- Centering the image vertically and horizontally -->
          <img src="assets/images/whats-university-like-accepted-students.jpg" alt="Welcome Image" class="w-24 h-24 object-cover rounded-full"> <!-- Adjusted width and height of the image -->
        </div>
        <div class="h-64 overflow-y-auto"> <!-- Adjusted top margin to accommodate the image -->
          <p class="text-gray-600 text-center mb-6 text-lg">"APIIT provides an exceptional learning environment and resources."</p>
        </div>
        <h3 class="text-lg font-semibold text-gray-600 mb-0 text-center">Premuditha Perera
          (Head of Engineering DreamStart Labs )</h3>
      </div>
    </div>

    <div class="w-1/5 px-4 flex-shrink-0 rounded-lg">
      <div class="bg-white rounded-lg shadow-md p-16 relative"> <!-- Added relative positioning to the container -->
        <div class="absolute inset-0 flex items-center justify-center"> <!-- Centering the image vertically and horizontally -->
          <img src="assets/images/whats-university-like-accepted-students.jpg" alt="Welcome Image" class="w-24 h-24 object-cover rounded-full"> <!-- Adjusted width and height of the image -->
        </div>
        <div class="h-64 overflow-y-auto"> <!-- Adjusted top margin to accommodate the image -->
          <p class="text-gray-600 text-center mb-6 text-lg">"Staffordshire University’s LLM, combines both technical and practical legal aspects."</p>
        </div>
        <h3 class="text-lg font-semibold text-gray-600 mb-0 text-center">Dimuth Fernando

          (Attorney-at-Law (pursuing))</h3>
      </div>
    </div>

    <div class="w-1/5 px-4 flex-shrink-0 rounded-lg">
      <div class="bg-white rounded-lg shadow-md p-16 relative"> <!-- Added relative positioning to the container -->
        <div class="absolute inset-0 flex items-center justify-center"> <!-- Centering the image vertically and horizontally -->
          <img src="assets/images/whats-university-like-accepted-students.jpg" alt="Welcome Image" class="w-24 h-24 object-cover rounded-full"> <!-- Adjusted width and height of the image -->
        </div>
        <div class="h-64 overflow-y-auto"> <!-- Adjusted top margin to accommodate the image -->
          <p class="text-gray-600 text-center mb-6 text-lg">"Staffordshire University prepared me for career Success by offering a multitude of modules focusing on business law."</p>
        </div>
        <h3 class="text-lg font-semibold text-gray-600 mb-0 text-center">Minushi Perera
          ( Staffordshire University, UK (reading)

          )</h3>
      </div>
    </div>
    <!-- Testimonial Card 6 -->
    <div class="w-1/5 px-4 flex-shrink-0 rounded-lg">
      <div class="bg-white rounded-lg shadow-md p-16 relative"> <!-- Added relative positioning to the container -->
        <div class="absolute inset-0 flex items-center justify-center"> <!-- Centering the image vertically and horizontally -->
          <img src="assets/images/whats-university-like-accepted-students.jpg" alt="Welcome Image" class="w-24 h-24 object-cover rounded-full"> <!-- Adjusted width and height of the image -->
        </div>
        <div class="h-64 overflow-y-auto"> <!-- Adjusted top margin to accommodate the image -->
          <p class="text-gray-600 text-center mb-6 text-lg">"APIIT provides an exceptional learning environment and resources."</p>
        </div>
        <h3 class="text-lg font-semibold text-gray-600 mb-0 text-center">Samantha Silva (Professor of Computer Science)</h3>
      </div>
    </div>

    <div class="w-1/5 px-4 flex-shrink-0 rounded-lg">
      <div class="bg-white rounded-lg shadow-md p-16 relative"> <!-- Added relative positioning to the container -->
        <div class="absolute inset-0 flex items-center justify-center"> <!-- Centering the image vertically and horizontally -->
          <img src="assets/images/whats-university-like-accepted-students.jpg" alt="Welcome Image" class="w-24 h-24 object-cover rounded-full"> <!-- Adjusted width and height of the image -->
        </div>
        <div class="h-64 overflow-y-auto"> <!-- Adjusted top margin to accommodate the image -->
          <p class="text-gray-600 text-center mb-6 text-lg">"APIIT provides an exceptional learning environment and resources."</p>
        </div>
        <h3 class="text-lg font-semibold text-gray-600 mb-0 text-center">Samantha Silva (Professor of Computer Science)</h3>
      </div>
    </div>

    <div class="w-1/5 px-4 flex-shrink-0 rounded-lg">
      <div class="bg-white rounded-lg shadow-md p-16 relative"> <!-- Added relative positioning to the container -->
        <div class="absolute inset-0 flex items-center justify-center"> <!-- Centering the image vertically and horizontally -->
          <img src="assets/images/whats-university-like-accepted-students.jpg" alt="Welcome Image" class="w-24 h-24 object-cover rounded-full"> <!-- Adjusted width and height of the image -->
        </div>
        <div class="h-64 overflow-y-auto"> <!-- Adjusted top margin to accommodate the image -->
          <p class="text-gray-600 text-center mb-6 text-lg">"APIIT provides an exceptional learning environment and resources."</p>
        </div>
        <h3 class="text-lg font-semibold text-gray-600 mb-0 text-center">Samantha Silva (Professor of Computer Science)</h3>
      </div>
    </div>
  </div>

</section>






<!-- News & Events Section -->
<section class="bg-gray-200 py-20">
  <div class="container mx-auto text-center">
    <h2 class="text-4xl font-bold mb-4">News & Events</h2>

    <nz-carousel [nzEffect]="effect" [nzAutoPlay]="true">
      @for (index of array; track index) {
        <div nz-carousel-content>
          <div class="flex flex-col lg:flex-row justify-center md:mt-24 lg:justify-between items-center">
            <!-- Image Div -->
            <div class="lg:w-1/2">
              <img src="assets/images/whats-university-like-accepted-students.jpg" alt="Your Image Alt Text" class="w-full h-auto object-cover rounded-lg shadow-md mt-6 lg:mt-0">
            </div>

            <!-- Content Div -->
            <div class="lg:w-1/2 px-4 mt-10 lg:mt-0">
              <!-- Heading -->
              <h3 class="text-2xl font-bold mb-2 text-black">Avurudu Celebrations</h3>
              <!-- Paragraph -->
              <p class="text-lg text-black leading-normal mt-8 lg:mt-12" style="font-size: 18px;">Avurudu, also known as Sinhala and Tamil New Year, is an important cultural festival celebrated by the Sinhalese and Tamil communities in Sri Lanka. It marks the beginning of the new year according to the traditional Sinhala and Tamil calendars. The festival usually falls on April 13th or 14th each year, coinciding with the astrological transition of the sun from Pisces to Aries. Avurudu is a time for family gatherings, traditional rituals, delicious food, and various festive activities.</p>
              <!-- Read More Button -->
              <button nz-button nzType="primary" class="mt-6 max-w-xs bg-white text-black px-3 py-3 text-sm h-12">Read More</button>
            </div>

          </div>
        </div>
      }
    </nz-carousel>
  </div>
</section>


<!-- Blog Section -->
<section class="container mx-auto my-8">
  <h2 class="text-3xl font-bold mb-4">Latest Blog Posts</h2>

  <div class="flex items-center mt-8 mb-10 pl-10 justify-between gap-4"> <!-- Adjusted for spacing and alignment -->
    <div class="flex gap-2">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconSearchButton" class="rounded-md border border-gray-300 overflow-hidden">
        <input type="text" [(ngModel)]="searchValue" nz-input placeholder="Search here" class="py-2 px-3 w-full focus:outline-none bg-transparent"/>
      </nz-input-group>


      <ng-template #suffixIconSearchButton>
        <button nz-button nzType="primary" nzSearch class="bg-[#6B6C6E] border-[#6B6C6E]" (click)="search()">
          <span nz-icon nzType="search"></span>
        </button>
      </ng-template> <!-- Set width explicitly -->
      <button nz-button nzBlock class="bg-gray-200 text-gray-700 hover:bg-gray-300 px-3 py-3 rounded-md shadow-md transition duration-300 ease-in-out transform hover:scale-105" style="width: auto;" (click)="resetSearch()">
        Clear
      </button>




    </div>
    <div class="relative">
      <nz-select [(ngModel)]="type" (ngModelChange)="getFiltered()" class="w-full max-w-xs rounded">
        <nz-option *ngFor="let item of filterOptions" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
      </nz-select>
    </div>


  </div>





  <!-- Blog Post List -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
    <!-- Row 1 -->
    <!-- Blog Post Card 1 -->
    <div class="border rounded-lg overflow-hidden shadow-md bg-white" *ngFor="let blog of blogData">
      <!-- Blog Post Image -->
      <img src="assets/images/whats-university-like-accepted-students.jpg" alt="Blog Post Image" class="w-full">
      <!-- Blog Post Content -->
      <div class="p-4">
        <h3 class="text-xl font-semibold mb-2">{{blog.title}}</h3>
        <p class="text-gray-600" *ngIf="blog.content.length <= 250">{{ blog.content }}</p>
        <p class="text-gray-600" *ngIf="blog.content.length > 250">{{ blog.content.slice(0, 250) }}...</p>
        <a class="text-blue-500 font-semibold mt-2 hover:underline" (click)="navToSingle(blog.idblogs)">Read More</a>
      </div>
    </div>
    <!-- Repeat for other blog posts in Row 1 -->

    <!-- Row 2 -->
    <!-- Blog Post Card 1 -->

  </div>
  <div class=" mt-8" style="display: flex; justify-content: flex-end">
    <nz-pagination [nzPageIndex]="pageSize.pageIndex" [nzPageSize]="pageSize.pageSize" [nzTotal]="pageSize.length" ></nz-pagination>
  </div>
</section>

<footer class="bg-gray-900 py-8 mt-32">
  <div class="container mx-auto text-white px-4 flex flex-col md:flex-row justify-between items-center">
    <div class="mb-6 md:mb-0">
      <p class="text-gray-400 text-sm">This is a short description or tagline for your site. Use this space to add additional information.</p>
      <p class="mt-4">&copy; 2024 Blog Site. All rights reserved.</p>
    </div>
    <div>
      <h3 class="text-xl font-semibold mb-2 text-right">Stay Connected</h3>
      <ul class="space-y-2 text-right">
        <li><a href="#" class="hover:text-gray-400">Home</a></li>
        <li><a href="#" class="hover:text-gray-400">About Us</a></li>
        <li><a href="#" class="hover:text-gray-400">Services</a></li>
        <li><a href="#" class="hover:text-gray-400">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>

