<div class="container mx-auto max-w-4xl py-12 px-4 text-black shadow-md rounded-md bg-white bg-opacity-95">
  <h2 class="text-4xl font-bold mb-8 text-center text-blue-900 font-serif">Create Blog Post</h2>
  <form [formGroup]="blogForm">
    <div class="mb-4 flex flex-col">
      <label for="title" class="text-gray-700 text-xl font-bold mb-2">Title</label>
      <input type="text" id="title" name="title" form
             class="w-full px-4 py-4 border border-gray-300 rounded-md focus:outline-none focus:border-blue-400 placeholder-gray-500 text-lg"
             placeholder="Enter title" formControlName="title">
    </div>
    <div class="mb-4 flex flex-col">
      <label for="subtitle" class="text-gray-700 text-xl font-bold mb-2">Sub Title</label>
      <input type="text" id="subtitle" name="subtitle"
             class="w-full px-4 py-4 border border-gray-300 rounded-md focus:outline-none focus:border-blue-400 placeholder-gray-500 text-lg"
             placeholder="Enter sub title" formControlName="subTopic">
    </div>
    <div class="mb-4 flex flex-col">
      <label for="description" class="text-gray-700 text-xl font-bold mb-2">Content</label>
      <textarea id="description" name="description"
                class="w-full px-4 py-4 border border-gray-300 rounded-md focus:outline-none focus:border-blue-400 placeholder-gray-500 text-lg"
                rows="4" placeholder="Enter description" formControlName="content"></textarea>
    </div>
    <div class="mb-4 flex flex-col">
      <label for="author" class="text-gray-700 text-xl font-bold mb-2">Author</label>
      <input type="text" id="author" name="author" [disabled]="true"
             class="w-full px-4 py-4 border border-gray-300 rounded-md focus:outline-none focus:border-blue-400 placeholder-gray-500 text-lg"
             placeholder="Enter author" formControlName="author">
    </div>
    <div class="mb-4 flex flex-col">
      <label for="faculty" class="text-gray-700 text-xl font-bold mb-2">Faculty</label>
      <select id="faculty" name="faculty" formControlName="type"
              class="w-full px-4 py-4 border border-gray-300 rounded-md focus:outline-none focus:border-blue-400 placeholder-gray-500 text-lg">
        <option value="BUSINESS ">Business Faculty</option>
        <option value="IT ">IT Faculty</option>
        <option value="LAW ">Law Faculty</option>
      </select>
    </div>
    <div class="mb-4 flex flex-col">
      <label for="faculty" class="text-gray-700 text-xl font-bold mb-2">Image</label>
      <!--      <nz-upload-->
      <!--      >-->
      <!--        <button nz-button>-->
      <!--          <span nz-icon nzType="upload"></span>-->
      <!--          Click to Upload-->
      <!--        </button>-->
      <!--      </nz-upload>-->
    </div>
  </form>
  <div class="mb-4 flex justify-center">
    <button nz-button nzType="primary" [disabled]="blogForm.invalid" (click)="submit()">Create Blog</button>
  </div>
</div>
