.container {
  display: flex;
  flex-direction: column;
  max-width: 700px; /* Adjust the maximum width as needed */
  margin: auto;
  padding: 5px; /* Adjust the padding as needed */
}

.form-field {
  margin-bottom: 10px; /* Reduce margin between form fields */
}

.button-container {
  display: flex;
  justify-content: center;
}

/* Adjust input and textarea size */
input[type="text"],
textarea {
  padding: 5px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
}

select {
  padding: 5px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
}
